* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}


/*Navigation bar selectors*/

#navigationBar {
    display: flex;
    margin: 0px;
    padding: 80px 80px 40px 80px;
    background-color: cadetblue;
    background-size: cover;
    color: rgb(15, 14, 15);
    width: 100%;
}

#navigationBar h1 {
    width: 25%;
    font-weight: 500;
    padding-left: 20px;
}

#navItems {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: 0;
    align-items: center;
    position: absolute;
    right: 100px;
}

#navItems a {
    padding: 0 20px;
    font-size: 25px;
    text-decoration: none;
}

#navigationBar img {
    max-width: 100px;
}


/*Hero banner selectors*/

.hero-banner {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 80px;
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    color: orangered;
    width: 100%;
}

.hero-banner div {
    position: absolute;
    right: 100px;
}


/*".page-wrapper" selectors*/

.page-wrapper {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: "about about about" "work work work" "contact contact contact";
    margin: 0;
    color: orangered;
    width: 100%;
    height: 100%;
    color: black;
}

.page-wrapper h2 {}


/*"About me" selectors*/

#about {
    grid-area: about;
    display: flex;
    padding-left: 500px;
    padding-top: 20px;
}

#about p {
    width: 100%;
    padding: 5px;
}


/*"Portfolio" selectors*/

#work {
    grid-area: work;
    display: flex;
    padding-left: 500px;
    height: 900px;
}

.apps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 20% 20%;
    grid-template-areas: "LED LED" "calculator toy" "surf run-buddy";
    width: 100%;
    padding: 5px;
}

#LED {
    grid-area: LED;
    background-image: url("../images/02-portfolio-1.jpg");
}

#calculator {
    grid-area: calculator;
    background-image: url("../images/02-portfolio-2.jpg");
}

#toy {
    grid-area: toy;
    background-image: url("../images/02-portfolio-3.jpg");
}

#surf {
    grid-area: surf;
    background-image: url("../images/02-portfolio-4.jpg");
}

#run-buddy {
    grid-area: run-buddy;
    background-image: url("../images/02-run-buddy.jpg");
}

.GridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 6px;
    cursor: pointer;
    display: grid;
    align-content: end;
    align-items: center;
}

.portfolio {
    background-color: cadetblue;
    height: 35px;
    color: black;
    font-size: 25px;
    width: 150px;
    position: relative;
    bottom: 20px;
}


/*"Contacts" selectors*/

#contact {
    grid-area: contact;
    display: flex;
    padding-left: 500px;
    padding-top: 200px;
}

.details {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}


/*Media queries*/

@media only screen and (max-width: 1000px) {
    #navigationBar {
        display: none;
    }
    #navItems {
        margin-left: auto;
    }
}